<html>
  <head>
    <title>
      <%= title %>
    </title>
  </head>
  <body>
    <h1>CSV Visualizer</h1>
    <form action="/files/upload" enctype="multipart/form-data" method="POST">
      <input type="file" name="csvfile" accept=".csv, text/csv"  placeholder="select the csv file">
      <input type="submit" value="Upload">
    </form>
    <% if(locals.message) { %>
      <p><%=message%></p>
    <% } %>
    <br />
    <div id="view-files">
      <a href="/files">View Files</a>
    </div>
  </body>
</html>