<div>
  <% if(jsonArray && jsonArray.length > 0) { 
    let keys = Object.keys(jsonArray[0]); %>
    <table id="data-table">
      <caption><%= name %></caption>
      <thead>
        <tr>
          <% for(key of keys){ %>
            <th>
              <%= key %>
            </th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <% for(jsonObj of jsonArray){ %>
          <tr>
            <% for (key in jsonObj) { %>
              <td>
                <%= jsonObj[key] %>
              </td>
            <% } %>
          </tr>
        <% } %>
      </tbody>
    </table>
  <% }%>
</div>